@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

body {
  @apply transition-colors duration-200;
}

.disable-transitions * {
  transition: none !important;
}